<ngx-spinner type="ball-atom" size="medium">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Overview</h1>
    </div>
    <div class="col">
      <app-add-job></app-add-job>
    </div>
  </div>

  <ng-container *ngIf="jobs.length < 0; then jobsOverview; else jobsPlaceholder">
  </ng-container>
</div>

<ng-template #jobsOverview>
  Here are your Jobs
</ng-template>

<ng-template #jobsPlaceholder>
  No Jobs yet... Why not create some?
</ng-template>