<ngx-spinner type="ball-atom" size="medium">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">
  
  <div class="row">

    <h1>Overview</h1>

    

    <div class="d-flex align-items-end ml-2 pb-2">
      <app-edit-job (jobEdited)="onJobEdited()"></app-edit-job>
    </div>

  </div>

  <div class="row">
    <alert type="success" *ngIf="successMessage && successMessage != ''" [dismissible]="true"
        (onClosed)="onSuccessAlertClosed()">
        <span [innerHtml]="successMessage | convertNewLine: true"></span>
      </alert>
      
      <alert type="danger" *ngIf="errorMessage && errorMessage != ''" [dismissible]="true"
        (onClosed)="onErrorAlertClosed()">
        <span [innerHtml]="errorMessage | convertNewLine: true"></span>
    </alert>
  </div>

  <ng-container *ngIf="jobs && jobs.length > 0; then jobsOverview; else jobsPlaceholder">
  </ng-container>

</div>

<ng-template #jobsOverview>
  <div class="row">
    <div class="card crawl" *ngFor="let job of jobs; let i = index">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img class="favicon" src="https://via.placeholder.com/34" alt="Favicon of {{job.url}}">
        </div>
        <div class="flex-grow-1 card-text">
            <h2>{{job.name}}</h2>
            <p class="small text-muted">{{job.url}}</p>
          <div class="d-flex justify-content-end">
            <div class="actions d-flex align-items-center">
              <a><fa-icon class="cursor-pointer" [icon]="faPen"></fa-icon></a>
              <a (click)="openDeleteModal(confirmScrapeJobDeletionModal, i)"><fa-icon class="cursor-pointer" [icon]="faTrashAlt"></fa-icon></a>
              <a><fa-icon class="cursor-pointer" [icon]="faToggleOn"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #jobsPlaceholder>
  No Jobs yet... Why not create some?
</ng-template>

<ng-template #confirmScrapeJobDeletionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm Deletion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the ScrapeJob: <em>{{ jobs[currentJobIndex].name }} </em> ?<br />
      This action <strong>cannot be undone</strong>!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmDelete(jobs[currentJobIndex])">Yes, delete the ScrapeJob</button>
    <button type="button" class="btn btn-outline-primary" (click)="deleteModalRef.hide()">No, cancel</button>
  </div>
</ng-template>
