<ngx-spinner type="ball-atom" size="medium">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container">
  <div class="row">
    <div class="row">
      <h1>Overview</h1>
        <div class="d-flex align-items-end ml-2 pb-2">
          <app-add-job (jobAdded)="onJobAdded()"></app-add-job>
        </div>
    </div>

  </div>

  <ng-container *ngIf="jobs && jobs.length > 0; then jobsOverview; else jobsPlaceholder">
  </ng-container>
</div>

<ng-template #jobsOverview>
  <div class="row">
    <div class="card crawl" *ngFor="let job of jobs">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img class="favicon" src="https://via.placeholder.com/34" alt="Favicon of {{job.url}}">
        </div>
        <div class="grow">
            <h2>{{job.name}}</h2>
            <p class="small text-muted">{{job.url}}</p>
          <div class="d-flex justify-content-end">
            <div class="actions d-flex align-items-center">
              <a href="#" data-toggle="modal" data-target="#editModal"><fa-icon [icon]="faPen" [spin]="true"></fa-icon></a>
              <a href="#" data-toggle="modal" data-target="#deleteModal"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
              <a href="#"><fa-icon [icon]="faToggleOn"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #jobsPlaceholder>
  No Jobs yet... Why not create some?
</ng-template>
