<div class="container">
  <h2>Register</h2>

  <ngx-spinner type="ball-atom" size="medium">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <alert type="danger" *ngIf="error && error != ''" [dismissible]="true" (onClosed)="onErrorAlertClosed()">
    <span [innerHtml]="error | convertNewLine: true"></span>
  </alert>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="username">E-Mail Address</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <re-captcha formControlName="recaptchaReactive" #captchaRef="reCaptcha" (resolved)="$event && onSubmit($event)">
      </re-captcha>
      <button (click)="captchaRef.execute()" class="btn btn-primary">Register</button>
      <a routerLink="/resend-confirmation-email" class="btn btn-link">Resend confirmation email</a>
    </div>
  </form>
</div>
