<ng-template #editScrapeJobModal>

    <div class="modal-header">

      <div *ngIf="scrapeJob;else editHeader">
        <h4 class="modal-title pull-left">Edit ScrapeJob: <em>{{scrapeJob.name}}</em> </h4>
      </div>
      <ng-template #editHeader>
        <h4 class="modal-title pull-left">Create ScrapeJob</h4>
      </ng-template>

      <button type="button" class="close pull-right" aria-label="Close" (click)="editScrapeJobModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <form [formGroup]="editScrapeJobForm" (ngSubmit)="saveScrapeJob()">
      <div class="modal-body">

        <alert type="danger" *ngIf="errorMessage && errorMessage != ''" [dismissible]="true"
          (onClosed)="onErrorAlertClosed()">
          <span [innerHtml]="errorMessage | convertNewLine: true"></span>
        </alert>

        <div class="form-group">

          <input class="form-control" formControlName="scrapeJobName" type="text" placeholder="Name" required />
          <app-control-messages [control]="form.scrapeJobName"></app-control-messages>

          <input class="form-control" formControlName="url" type="url" placeholder="URL" required />
          <app-control-messages [control]="form.url"></app-control-messages>

          <input class="form-control" formControlName="regexPattern" type="text" placeholder="RegEx Pattern" required />
          <app-control-messages [control]="form.regexPattern"></app-control-messages>

          <input class="form-control" formControlName="alternativeEmail" type="text" placeholder="Alternative email" />
          <app-control-messages [control]="form.alternativeEmail"></app-control-messages>

        </div>

      </div>

      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-secondary" (click)="editScrapeJobModalRef.hide()">Cancel</button>
          <button *ngIf="scrapeJob;else createBtn" type="submit" class="btn btn-primary">Save</button>
          <ng-template #createBtn>
            <button type="submit" class="btn btn-primary">Create</button>
          </ng-template>
        </div>
      </div>
    </form>
    
</ng-template>