/* Utilities */

.grow {
    flex-grow: 1;
}

/* General styles */

.navbar {
    background-color: rgb(65, 72, 78);
}

.navbar-dark .btn-link, .navbar-dark span {
    color: #f8f9fa;
}

.navbar-dark .btn-link:hover {
    color: lightgrey;
}

nav {
    display: flex;
    align-items: center;
}

.container h1:first-of-type {
    margin-top: 2rem;
}

.dropdown-item .btn {
    width: 100%;
}

.crawl {
    min-width: 20rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.crawl h1, .crawl h2, .crawl h3, .crawl h4, .crawl h5 {
    font-size: 1rem;
}

.crawl .card-body {
    display: flex;
}

.crawl .favicon {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.crawl .actions a:not(:first-child) {
    margin-left: 0.25rem;
}

.crawl .actions a:last-child {
    font-size: 1.5rem;
}

.crawl .actions * {
    color: darkgray;
}

.footer {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

.footer a {
    color: #777;
}

input:not(:last-child) {
    margin-bottom: 1rem;
}

/* Signup and Signin*/

.form-signup {
    width: 25rem;
}
