/* Utilities */

/* General styles */

.navbar {
    background-color: rgb(65, 72, 78);
}

.navbar-dark .btn-link {
    color: #f8f9fa;
}

.navbar-dark .btn-link:hover {
    color: lightgrey;
}

.container h1:first-of-type {
    margin-top: 2rem;
}

.dropdown-item .btn {
    width: 100%;
}

.footer {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

.footer a {
    color: #777;
}

/* Signup and Signin*/

.form-signup {
    width: 25rem;
}

.form-signup > *:not(:last-child) {
    margin-bottom: 1rem;
}