<div class="container">
  <ngx-spinner type="ball-atom" size="medium">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <alert type="danger" *ngIf="errorMessage && errorMessage != ''">
    <span [innerHtml]="errorMessage | convertNewLine: true"></span>
  </alert>
  <ng-container *ngIf="!email; then noMail; else mail"></ng-container>
</div>

<ng-template #mail>
  <ng-container *ngIf="!token; then noToken; else resetForm">
  </ng-container>
</ng-template>

<ng-template #noMail>
  <h2>Password reset confirmation</h2>
  <p>
    You should not have landed here. If you're trying to reset your password, make sure you click the link in the
    confirmation E-Mail we've sent you.
    If you cannot find it, check your spam folder or request your password reset again <a routerLink="/reset-password">here</a>.
  </p>
</ng-template>

<ng-template #noToken>
  <h2>Password reset requested</h2>
  <p>
    We're sending a password reset link to <em>{{email}}</em> which should momentarily arrive. Please click on the
    verification link in that mail to reset your password!
    If you cannot find it, check your spam folder or request your password reset again <a routerLink="/reset-password">here</a>.
  </p>
</ng-template>

<ng-template #resetForm>
  <h2>Reset password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="requestEmail">New password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
  </form>
</ng-template>
