<div class="container">
  <h2>Reset password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="captchaRef.execute()">
    <div class="form-group">
      <label for="requestEmail">E-Mail</label>
      <input type="email" formControlName="email" class="form-control" />
    </div>
    <re-captcha formControlName="recaptchaReactive" #captchaRef="reCaptcha" (resolved)="$event && onSubmit($event)">
    </re-captcha>
    <button type="submit" class="btn btn-primary">Request password reset link</button>
  </form>
</div>
