<section class="jumbotron text-center">

  <div class="container">
    <h1 class="jumbotron-heading">About WaaS</h1>
    <p class="lead text-muted">*Insert philosophical quote here.*</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Who are we?</h2>
      <p>
        Two swiss CS students... blabla add awesome text here later
        lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="col-md-6">
        <h2>Why did we create WaaS?</h2>
        <p>
          WaaS was put together by us (two swiss CS students) as part of a Web-Engineering project.
          We were free to choose what we could do, so we thought of something that we would find usefull in our every day lives.
          blabla add awesome text here later
          </p>
      </div>
</div>
