<div class="container">
  <h1>Edit Profile</h1>
  <h2>Change your E-Mail Address</h2>
  <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmitEmail()">
    <input type="email" formControlName="email" class="form-control" />
    <button type="submit" class="btn btn-primary">Change E-Mail</button>
  </form>
  <h2>Change your Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPassword()">
    <input type="password" formControlName="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
  <h2>Your account</h2>
  <button type="button" class="btn btn-danger" (click)="openDeleteModal(confirmAccountDeletionModal)">Delete account</button>

  <ng-template #confirmAccountDeletionModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirm Deletion</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete your Account?
        This will delete all associated information and cannot be undone!
      </p>
      <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes, delete my Account</button>
      <button type="button" class="btn btn-primary" (click)="deleteModalRef.hide()">No, cancel</button>
    </div>
  </ng-template>

</div>>
